{% extends 'base.html' %}
{% block content %}
<div class='row'>
    <div class='col-sm-6'>
        <p><span class='text-muted'>Name: </span>first_name</p>
        <p><span class='text-muted'>Last name: </span>last_name</p>
        <p><span class='text-muted'>Date of birth: </span>date_of_birth</p>
    </div>
    <div class='col-sm-6'>
        <p><span class='text-muted'>Contacts: </span>contacts</p>
        <p><span class='text-muted'>Email: </span>email</p>
        <p><span class='text-muted'>Jabber: </span>jabber</p>
        <p><span class='text-muted'>Skype: </span>skype</p>
    </div>
</div>

<div class='row'>
    <div class='col-sm-6'>
        <p><span class='text-muted'>Bio: </span>bio</p>
    </div>
    <div class='col-sm-6'>
        <p><span class='text-muted'>Other contacts: </span>other contacts</p>
    </div>
</div>
{% endblock %}
